body{
    background-image: url(../assets/background.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 104vh rgb(27, 27, 27, 0.7);
}

.custom-navbar-bg{
    background-color: #808080;
}

.nav-link{
    color: #1b1b1b;
}

.nav-link:hover{
    color: #ffa31a;
}

.hero-text {
    background-image: linear-gradient(to right, #292929 40%, rgba(245, 230, 218, 0) 100%), url('../assets/banner.jpeg');
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 450px;
    padding-top: 15vh;
    padding-left: 1vw;
  }

 .key-services img{
    width: 42vw;
    height: 58vh;
  }

  .choose-us img{
    width: 48vw;
    height: 65vh;
  }
    
  h2{
    color: #ffa31a;
    text-shadow: 1px 1px #000000;
  }

  .cta-button {
    display: inline-block;
    justify-content: center;
    padding: 1.7vh 2vw;
    background-color: #ffa31a;
    color: #000000;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 0;
    transition: all 0.3s ease;
    text-align: center;
    border: 3px solid #000000;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 4px 4px 0 #000000;
    margin: 20px 0;
  }
  
  .cta-button:hover {
    background-color: #808080;
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 #000000;
  }
  
  .cta-button:active {
    transform: translate(4px, 4px);
    box-shadow: none; 
  }

  footer{
    display: inline;
  }